<div class="row">
  <div class="col-lg-12 col-md-12">
    <h3>Cuentas/Cobros</h3>
    <br />

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-12">
        <button
          id="cuentas-btn-agregar-cuenta-1"
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#modalDialogueAgregarCuentaCobro"
        >
          Abrir Cuenta +
        </button>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12">
        <button
          id="cuentas-btn-eliminar-cuenta-1"
          type="button"
          class="btn btn-danger"
        >
          Eliminar Registro -
        </button>
      </div>
      <div
        class="col-lg-8 col-md-6 col-sm-12 d-lg-block d-md-none d-sm-none"
      ></div>
    </div>

    <!-- DATA TABLE -->

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <table
              class="table table-striped"
              id="cuentas-cobros-table-datagrid-1"
              style="width: 100% !important"
            >
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Folio Único</th>
                  <th scope="col">Nombre de Cuenta</th>
                  <th scope="col">Tipo de Cuenta</th>
                  <th scope="col">Estatus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>9985d560-aada-4708-bdd9-51df47c1195d</td>
                  <td>Jose: Mesa 1</td>
                  <td>Consumo en restaurante</td>
                  <td>Abierta</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>bab08776-e96f-48b9-be8f-12ce48424288</td>
                  <td>Javier Torres</td>
                  <td>Para llevar</td>
                  <td>Abierta</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL AREA -->

    <div
      class="modal fade"
      id="modalDialogueAgregarCuentaCobro"
      tabindex="-1"
      role="dialog"
      aria-labelledby="#modalDialogueAgregarCuentaCobroLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDialogueAgregarCuentaCobroLabel">
              Agregar Cuenta
            </h5>
            <button
              type="button"
              class="close btn btn-light bg-light"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="nombre-titulo-nueva-cuenta-cobro-partial"
                          >Nombre de Cuenta</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="nombre-titulo-nueva-cuenta-cobro-partial"
                          aria-describedby="nombreCuenta"
                          placeholder="Nombre o referencia"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <label
                          for="tipo-de-cuenta-nueva-cuenta-cobro-partial-new"
                          >Tipo de Cuenta</label
                        >

                        <select
                          class="form-select"
                          aria-label="Tipo de cuenta"
                          id="tipo-de-cuenta-nueva-cuenta-cobro-partial-new"
                          aria-describedby="tipoCuenta"
                        >
                          <option value="1" selected>
                            Consumo en restaurante
                          </option>
                          <option value="2">Recoger en mostrador</option>
                          <option value="3">Para llevar</option>
                          <option value="3">Pedido a domicilio</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cuentas-cobros-btn-modal-cancelar"
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              id="cuentas-cobros-btn-modal-crear-nuevo"
              type="button"
              class="btn btn-primary"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
